<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <img
        src="https://scontent-vie1-1.xx.fbcdn.net/v/t39.30808-6/298341072_480869394045456_5677642422053382995_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=xoTEuG3Fku8Q7kNvgE8byaR&_nc_ht=scontent-vie1-1.xx&_nc_gid=ArA1RzU0AqNgnfSZgYk-So4&oh=00_AYA-jr2ML3nXi7tXhxEfjwP8yQQuyLse-lmzb7CTJpm85Q&oe=6700639B"
        alt="mokusch-logo"
      />
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">
            Kezdőlap
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Rólunk
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#nyitvatartas">Nyitvatartás</a>
            </li>
            <li>
              <a class="dropdown-item" href="#lokacio">Lokáció</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/employees">
                Mókus lányok
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Szolgáltatások
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/cakes">
                Sütemények rendelésre
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/cafemenu"> Kávézó menü </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Nyelv
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#" (click)="changeLanguage('hu')">
                Magyar
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="changeLanguage('en')">
                Angol
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
