<footer class="bg-dark text-white pt-4 pb-4">
  <div class="container">
    <div class="row">
      <!-- Céginformáció -->
      <div class="col-md-4" id="company-info">
        <h5>Mókusch kávézó és tortaműhely</h5>
        <p>
          Várfok u. 30, 1012<br />
          Budapest, Magyarország <br />
          Tel: +36 20 267 5944<br />
          <a href="mailto:mokuschinfo@gmail.com" class="text-white"
            >Küldj nekünk emailt!</a
          >
        </p>
      </div>

      <!-- Nyitvatartás -->
      <div class="col-md-4" id="opening-hours">
        <h5>Nyitvatartás</h5>
        <ul class="list-unstyled" id="nyitvatartas">
          <li>Hétfő - Péntek: 7:30 - 18:00</li>
          <li>Szombat: 9:00 - 16:00</li>
          <li>Vasárnap: 9:00 - 13:00</li>
        </ul>
      </div>

      <!-- Közösségi média -->
      <div class="col-md-4">
        <h5>Kövess minket</h5>
        <a href="#" class="text-white me-3">
          <i class="fab fa-facebook"></i> Facebook
        </a>
        <a href="#" class="text-white me-3">
          <i class="fab fa-instagram"></i> Instagram
        </a>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12" id="lokacio">
        <div style="width: 100%">
          <iframe
            width="100%"
            height="200"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=200&amp;hl=en&amp;q=Budapest,%20V%C3%A1rfok%20u.%2030,%201012+(M%C3%B3kusch%20k%C3%A1v%C3%A9z%C3%B3%20%C3%A9s%20tortam%C5%B1hely)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>

    <hr class="my-4" />

    <div class="text-center">
      <p class="mb-0">
        &copy; Mókusch kávézó és tortaműhely - minden jog fenntartva
      </p>
    </div>
  </div>
</footer>
