.badge {
  cursor: pointer;
  margin-right: 5px;
  background-color: #ff006a;
}

.badge.active {
  background-color: #ff7300;
}

.cake-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.selected-cake-image {
  text-align: center;
}

.active-cake {
  border: 2px solid #007bff; /* vagy bármilyen szín, amit szeretnél */
  background-color: #f0f8ff; /* világos háttérszín */
}

.badge-success {
  background-color: rgb(8, 54, 12);
}

.badge-danger {
  background-color: rgb(170, 0, 0);
}
* {
  background-color: rgb(250, 237, 205);
}
