<app-about-us></app-about-us>

<div class="row row-cols-1 row-cols-md-3 g-4 m-5">
  <div class="col">
    <div class="card h-100">
      <img
        src="https://scontent-vie1-1.xx.fbcdn.net/v/t39.30808-6/297535454_2278440085636663_6028070226267239962_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=3a1ebe&_nc_ohc=Gz1deCmnRlwQ7kNvgGT98Sc&_nc_ht=scontent-vie1-1.xx&oh=00_AYB_CV1OikU2xkWjsrROc1ELbTEiahY27abdINqpYotgkg&oe=66FAD0E4"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Egyik mókuslány</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://scontent-vie1-1.xx.fbcdn.net/v/t39.30808-6/297535454_2278440085636663_6028070226267239962_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=3a1ebe&_nc_ohc=Gz1deCmnRlwQ7kNvgGT98Sc&_nc_ht=scontent-vie1-1.xx&oh=00_AYB_CV1OikU2xkWjsrROc1ELbTEiahY27abdINqpYotgkg&oe=66FAD0E4"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Másik mókuslány</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://scontent-vie1-1.xx.fbcdn.net/v/t39.30808-6/297535454_2278440085636663_6028070226267239962_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=3a1ebe&_nc_ohc=Gz1deCmnRlwQ7kNvgGT98Sc&_nc_ht=scontent-vie1-1.xx&oh=00_AYB_CV1OikU2xkWjsrROc1ELbTEiahY27abdINqpYotgkg&oe=66FAD0E4"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Harmadik mókuslány</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
