<section id="about-us" class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="mb-4">Ezek volnánk mi!</h2>
        <p>
          Panni, Wanda, és Verus vagyunk. Mókuschlányok. Már öt éve hogy együtt
          szorgoskodunk a zsizsgő-nyüzsgő Széll Kálmán tér szegletében, a
          piciny, békés odúnkban. Nem csak a sütés hozott össze minket,
          rácsodálkoztunk arra mennyire hasonló életmódot folytatunk. Erdőt
          mezőt járva gyűjtögetünk mindenféle terményeket. Nem csak elemózsiát,
          hanem kreatívkodásainkhoz alapanyagot.
        </p>
        <p>
          Fészkeinket folyamatosan építhetjük-szépítgetjük, és amit csak lehet
          magunk készítünk. Erőinket összeadva egy különleges kis helyet
          teremtettünk, ez lett a Mókusch. Kétség nem fér hozzá hogy
          szívünk-lelkünk benne van!
        </p>
      </div>
    </div>
  </div>
</section>
