@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

/* Alapértelmezett betűtípus beállítása */
* {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(250, 237, 205);
  color: rgb(127, 85, 57);
}
